.creation {
	padding: 100px 0 150px;
	h2 {
		margin-bottom: 80px;
		&::after {
			content: 'Mon processus de création';
		}
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 100%;
		text-align: center;
		justify-content: center;
		@include min($lg) {
			width: 600px;
		}
		@include min($xl) {
			width: 900px;
		}
		@include min($xxl) {
			width: auto;
		}
	}
	.card {
		position: relative;
		width: 80%;
		cursor: pointer;
		overflow: hidden;
		min-height: 550px;
		@include min($sm) {
			width: 50%;
		}
		@include min($lg) {
			width: 280px;
		}
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			inset: 0 0 0 0;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			filter: saturate(0);
			transition-duration: 0.4s;
		}
		.overlay {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: rgba($color: $color-001, $alpha: 0.3);
			position: absolute;
			inset: 0 0 0 0;
			padding: 30px;
		}
		&:hover,
		&:active,
		&:focus {
			p {
				opacity: 100%;
			}
			h3 {
				color: $color-007;
				top: 20%;
				@include min($sm) {
					top: 30%;
				}
			}
			i {
				color: $color-007;
				top: 10%;
				opacity: 0;
				@include min($sm) {
					opacity: 100%;
				}
			}
			&::before {
				filter: saturate(100%);
				transform: scale(1.2);
			}
		}
		img {
			width: 100%;
		}
		i {
			font-size: 100px;
			color: $color-002;
			transition-duration: 0.4s;
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translateX(-50%);
		}
		h3 {
			text-align: center;
			color: $color-002;
			transition-duration: 0.4s;
			line-height: 120%;
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translateX(-5%);
		}
		p {
			opacity: 0;
			transition-duration: 1s;
			color: $color-002;
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			@include min($lg) {
				left: 30px;
				transform: none;
				width: 230px;
			}
		}
	}
	.card-1 {
		&::before {
			background-image: url('../assets/listen.png');
		}
	}
	.card-2 {
		&::before {
			background-image: url('../assets/paint.jpg');
		}
	}
	.card-3 {
		&::before {
			background-image: url('../assets/computer.jpg');
		}
	}
	.card-4 {
		&::before {
			background-image: url('../assets/details.jpg');
		}
	}
	.card-5 {
		&::before {
			background-image: url('../assets/baloons.jpg');
		}
	}
}
