.qualites {
	background-image: url('../assets/ampoule-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: $color-002;
	.overlay {
		background-color: rgba($color: $color-001, $alpha: 0.5);
		padding: 100px 0;
	}
	h2 {
		margin-bottom: 100px;
		&::after {
			content: 'Je suis un professionnel...';
		}
	}
	.qualites--content {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.card {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: 40%;
			&:last-of-type {
				margin-top: 50px;
				@include min($lg) {
					margin-top: 0;
				}
			}
			@include min($lg) {
				width: 25%;
			}
			p {
				line-height: 150%;
			}
			i {
				font-size: $font-xl;
			}
		}
	}
}
