.btn {
	padding: 10px 30px;
	font-size: $font-lg;
	cursor: pointer;
	transition-duration: 0.4s;
	display: block;
}

.btn-transparent {
	background-color: rgba($color: $color-002, $alpha: 0);
	color: $color-002;
	border: 4px solid $color-002;
	font-weight: 600;
	position: relative;
	&:hover {
		color: $color-003;
		background-color: rgba($color: $color-002, $alpha: 1);
	}
}

.btn-blue {
	padding: 10px 50px 10px 30px;
	background-color: $color-003;
	color: $color-002;
	border: 2px solid $color-003;
	position: relative;
	margin-top: 50px;
	width: fit-content;
	width: -moz-fit-content;
	font-size: $font-md;
	&:hover {
		color: $color-003;
		background-color: $color-002;
		i {
			right: 20px;
		}
	}
	i {
		font-size: 20px;
		transition-duration: 0.2s;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
	}
}
