// COLORS

$color-001: #363636;
$color-002: #ffffff;
$color-003: #2b73b3;
$color-004: #4db3e9;
$color-005: #e8362c;
$color-006: #f090f3;
$color-007: #ffd700;

// FONTS

$font-001: 'Rubik', sans-serif;

// FONT SIZES

$font-sm: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-xl: 36px;
$font-xxl: 52px;

//WIDTHS

$sm: '576px';
$md: '768px';
$lg: '992px';
$xl: '1200px';
$xxl: '1500px';
